#carouselExampleInterval {
    margin-top: 100px;
}

body {
    background-image: url(Elementi\ fow/Body.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.logo {

    height: 50px;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

.carouselimg {
    width: 75%;
}

    @media screen and (max-width:450px) {
        
        .carouselimg {
            width: 100%;
        }
    }